.main2{
    background-color: #faf29d;
    height: 600px;
}

body{
    background-color: #faf29d;
}

.poteC
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.poteC > .bolos .imgP{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 4px 2px #0b0b0b;
}
.potes
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.potes > .bolos1 .imgP
{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 4px 2px #0b0b0b;
}

@media (max-width: 700px){
    .main2{
        height: 380px;
    }
    .main2 img{
        width: 95%;
    }
}